@charset "utf-8";
* {
  /* outline: 1px solid green; */
}
:root {
  --color-normal-green: #79cd9c;
  --color-normal-deep-green: #41b37c;
  --color-normal-gray: #d8d8d8;
  --color-normal-middle-gray: #a1a1a1;
  --color-normal-deep-gray: #6e6e6e;
}
