.div_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 50px 10px 50px;
}

#frm {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px 50px 0px 50px;
}

.notice {
  width: 700px;
  display: flex;
  font-size: 35px;
  justify-content: flex-start;
}

.search {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

/* .search input {
  border-color: lightgray;
} */

.search .searchBtn {
  width: 55px;
  padding: 5px;
  cursor: pointer;
  /* background-color: #a9e7c3; */
}

.noticeList {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px 50px 0px 50px;
}

table {
  width: 1000px;
  text-align: center;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  border-left: none;
  border-right: none;
}

td {
  height: 17px;
}

th {
  background-color: #93d6af;
  text-align: center;
  font-weight: bold;
}

.add {
  display: flex;
  justify-content: flex-end;
  padding: 20px 70px 50px;
  justify-content: center;
}

/* 글쓰기 버튼 */
.add button {
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}


.noticePage{
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  padding: 25px;
}

.noticePage a{
display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}

.noticePage a.active {
	background-color:#93d6af;
	color:#fff;
	border:1px solid #93d6af;
}

.pageItem{
  margin: 5px;
}

