<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="서로에게 이득이 되는 아르바이트 구직정보 사이트 단디 알바">
  <meta name="keywords" content="dandi">
  <meta name="author" content="4팀">
  <title>공지 목록</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/noticeList.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <!-- 카테고리 상자 숨기기 -->
  <script src="https://kit.fontawesome.com/881b9bf5d3.js" crossorigin="anonymous"></script>
<body>
<div id="wrapper">
  <!-- 헤더 -->
  <header id="header">
    <div class="header__title"><a href="#">단디알바</a></div>
    <div class="header__subTitle"><a href="#">:짧지만 확실하게</a></div>
    <div class="header__login"><input class="header__loginButton" type="button" value="로그인"></input></div>
    <div class="header__signUp"><input class="header__signUpButton" type="button" value="회원가입"></div>
  </header>
  <!-- 글로벌 메뉴바 -->
  <nav id="gnb">
    <ul class="gnb__info"><a href="#">채용정보</a>
      <div class="container1">
        <li class="gnb__infoLnb"><a href="#">구인 게시판</a></li>
      </div>
    </ul>
    <ul class="gnb__cum"><a href="#">커뮤니티</a>
      <div class="container2">
        <li class="gnb__cumLnb"><a href="#" th:href="@{/notice/add}">고민 게시판</a></li>
      </div>
    </ul>
    <ul class="gnb__member"><a href="#">개인 서비스</a>
      <div class="container3">
        <li class="gnb__memberLnb1"><a href="#">이력서 작성</a></li>
        <li class="gnb__memberLnb2"><a href="#">이력서 관리</a></li>
        <li class="gnb__memberLnb3"><a href="#">스케줄 보기</a></li>
        <li class="gnb__memberLnb4"><a href="#">회원정보 수정</a></li>
        <li class="gnb__memberLnb5"><a href="#">비밀번호 변경</a></li>
      </div>
    </ul>
    <ul class="gnb__manager"><a href="#">기업 서비스</a>
      <div class="container4">
        <li class="gnb__managerLnb1"><a href="#">구인게시글 관리</a></li>
        <li class="gnb__managerLnb2"><a href="#">지원자 이력서 관리</a></li>
        <li class="gnb__managerLnb3"><a href="#">스케줄 등록</a></li>
        <li class="gnb__managerLnb4"><a href="#">회원정보 수정</a></li>
        <li class="gnb__managerLnb5"><a href="#">비밀번호 변경</a></li>
      </div>
    </ul>
    <ul class="gnb__support"><a href="#">고객지원</a>
      <div class="container5">
        <li class="gnb__supportLnb1"><a href="#" th:href="@{/notice}">공지사항</a></li>
        <li class="gnb__supportLnb2"><a href="#">아이디 찾기</a></li>
        <li class="gnb__supportLnb3"><a href="#">비밀번호 찾기</a></li>
        <li class="gnb__supportLnb4"><a href="#">회원탈퇴</a></li>
      </div>
    </ul>
  </nav>
  <!-- 고민게시판 목록-->
  <div>
    <main>
      <div class="div_1">
        <div class="notice">
          <h3>공지사항</h3>
        </div>
        <div class="search">
          <input type="text" placeholder="키워드를 입력해주세요">
          <button class="searchBtn">검색</button>
        </div>
      </div>

      <div class="noticeList">
        <form id="frm" action="" th:action="@{/notice/items/del}" th:method="post">
          <table>
            <thead>
            <tr>
              <th>글번호</th>
              <th>제목</th>
              <th>조회수</th>
              <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${notices}">
              <!--            <th><input type="checkbox" name="chk" th:value="${notice.id}"></th>-->
              <td th:text="${notice.id}">ID</td>
              <td >
                <a href="" th:href="@{/notice/{id}/detail(id=${notice.id})}" th:text="${notice.title}"></a>
              </td>
              <td th:text="${notice.hit}">조회수</td>
              <td th:text="${notice.cDate}"></td>

            </tr>
            </tbody>
          </table>
        </form>
      </div>

      <div class="add">
        <button id="btnAdd" th:onclick="|location.href='@{/notice/add}'|">글쓰기</button>
      </div>

    </main>
  </div>
  <!-- 푸터 위쪽 -->
  <footer id="footerUp">
    <div class="footerUp__button1"><a href="#">
      <pre> 회사소개 </pre>
    </a></div>
    <div class="footerUp__button2"><a href="#">
      <pre> 이용약관 </pre>
    </a></div>
    <div class="footerUp__button3"><a href="#">
      <pre> 고객센터 </pre>
    </a></div>
    <div class="footerUp__button4"><a href="#">
      <pre> 개인정보처리 방침 </pre>
    </a></div>
  </footer>
  <!-- 푸터 아래쪽 -->
  <footer id="footerDown">
    <div class="footerDown__text1">단디알바</div>
    <div class="footerDown__text2">회사 소개 울산KH정보교육원</div>
    <div class="footerDown__text3">대표자 이상인</div>
    <div class="footerDown__text4">주소 울산시 남구 OOOOOO</div>
    <div class="footerDown__text5">고객센터 010-1234-5678</div>
    <div class="footerDown__text6">E-mail abcd@abcd.com</div>
    <div class="footerDown__text7">Copyright 2023 단디알바 Corp.All. Right Reserved.</div>
  </footer>

  <div class="sp1"></div>
  <div class="sp2"></div>
  <div class="sp3"></div>
  <div class="sp4"></div>
  <div class="sp5"></div>
  <div class="sp6"></div>
  <div class="sp7"></div>
  <div class="sp8"></div>
  <div class="sp9"></div>
  <div class="sp10"></div>

</div>
</body>
</html>